alias ghost='command gs'

alias ga='git add'
alias gau='git add -u'
alias gb='git branch'
alias gbd='git branch -D'
alias gcb='git checkout -b'
alias gcl='git clone'
alias gcm='git commit -m'
alias gco='git checkout'
alias gcom='git checkout main'
alias gd='git diff'
alias gf='git fetch'
alias gl='git log'
alias gm='git merge'
alias gmm='git merge main'
alias gp='git push'
alias gpl='git pull'
alias gps='git push --set-upstream origin HEAD'
alias gr='git reset'
alias gs='git status'

alias la='ls -a'
alias ll='ls -al'

chmx() { chmod +x "$@"; }

chpwd() {
    la
}

gac() {
    message="$1"
    git add "${@:2}"
    git commit -m "$message"
}

gbda() {
    git branch -D $(git branch | grep "$@")
}

gpa() {
    for dir in ./*; do
        if [ -d "$dir/.git" ]; then
            cd "$dir"
            git push
            cd ..
        fi
    done
}

grh() { git reset --hard "$@" }
grhh() { git reset --hard HEAD~"$@" }
grs() { git reset --soft HEAD~"$@" }

rmhist() {
    echo "Clearing history..."
    rm -rf ~/.zsh_history
    fc -p
    echo "History cleared."
}

ww() {
    local end_hour=$(("${1:-5}" + 12))
    echo "Running until $end_hour:00!"

    while true; do
        current_hour=$(date +%H)
        if [ "$current_hour" -lt "$end_hour" ]; then
            cliclick m:+1,+1 m:-1,-1
        fi
        sleep 59
    done &
}
